// Colors
$surfaceDark: #1b1b1f;
$surfaceLight: #202027;
$surfaceOutlineDark: #31313873;
$surfaceOutlineLight: #8b8ba175;
$fillDark: #101013;
$fillMid: #1e1e22;
$fillHoverLight: #242428;
$fillHoverDark: #111114;
$fillHoverOutlineLight: #2b2b30;
$fillHoverOutlineDark: #09090a;
$textColor: white;
$accentColor: #e2b477;
$shadowColor: rgba(0, 0, 0, 0.3);
$shadowColorDark: rgba(0, 0, 0, 0.6);